body { font-family: 'Alegreya Sans', Calibri, sans-serif; }
svg { border: solid #ccc 2px; }
svg text {
	fill: #BCBBBB;
}
.axis line{
	stroke: #BCBBBB;
}
.tick {
	opacity: 1;
}
.axis path{
	stroke: #BCBBBB;
}
.StackOverflow {
	color:#F48024;
}

#header {
	margin-top: 2em;
	margin-bottom: 1em;
}
#header h1 {
	font-size: 40px;
	text-align: center;
	margin-bottom: 0.2em;
}
#header #names {
	display: block;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}
#header #names h3 {
	display: inline-block;
	margin-left: 20px;
	margin-right: 10px;
	text-align: center;
}

#bg2 h1, 
#bg1 h1 {
	text-align: center;
}
#bg2 p, 
#bg1 p {
	text-align: center;
	line-height: 150%;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
#bg2 .content,
#bg1 .content {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
	width: 55%;
}
#bigGraph2Legend,
#bigGraph1Legend {
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
}
#bigGraph2Legend svg,
#bigGraph1Legend svg {
	border: none;
}
#bigGraph2,
#bigGraph1 {
	display: inline-block;
	position: relative;
	margin-right: auto;
	margin-left: auto;
}
#bigGraph2 svg,
#bigGraph1 svg {
	display:inline-block;
	margin-right: auto;
	margin-left: auto;
}

#p1,
#p2, 
#p3 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3em;
	max-width: 68%;
}
#p1 svg {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#p2 svg,
#p3 svg {
	display: inline-block;
	margin: 10px;
}
.area {
	fill: #F48024;
	opacity: 0.5;
}