#header {
	margin-top: 2em;
	margin-bottom: 1em;
}
#header h1 {
	font-size: 40px;
	text-align: center;
}
#header #names {
	display: block;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}
#header #names h3 {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
}

#p1,
#p2, 
#p3 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5em;
	max-width: 71%;
}
#p1 svg {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#p2 svg,
#p3 svg {
	display: inline-block;
	margin: 10px;
}
.area {
	fill: #F48024;
	opacity: 0.5;
}